{% extends 'base.html' %}

{% block title %}𝒫𝒽𝑜𝓉𝑜𝒫𝒶𝒾𝓃𝓉𝑒𝓇 | Профиль{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">
<script src="{{ url_for('static', filename='js/fullScreen.js')}}" type="text/javascript" defer></script>
<!--скрипт полноэкранного режима и навигации-->
{% endblock %}

{% block body %}

{% include 'base_menu.html' %}

<div class="container">
    <div class="user-data">
        <h3>Профиль пользователя: {{ current_user.login }}</h3>
        <h3>Почта: {{ current_user.email }}</h3>
        <a href="/logout">Выйти</a>
    </div>
    <div class="user-data-image">
        <h3>Изображения пользователя:</h3>
    </div>
    <div class="img-container">
        {% for image in user_images %}
        <div id="modal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="modal-image">
            <button class="prev-button"><i data-feather="arrow-left"></i></button>
            <button class="next-button"><i data-feather="arrow-right"></i></button>
            <div class="modal-image-buttons">
                <a class="download-button" href="{{ url_for('download', filename=image.filename) }}"
                    download="{{ image.original_filename }}"><i data-feather="download"></i> Скачать</a>
                <form id="delete-form" action="{{ url_for('delete_image', image_id=image.id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button class="delete-button" type="submit"><i data-feather="trash-2"></i> Удалить</button>
                </form>
            </div>
        </div>
        <div class="img">
            <img src="{{ url_for('static', filename='EDITOR/' + image.filename) }}" alt="{{ image.original_filename }}">
            <div class="image-buttons">
                <a href="{{ url_for('download', filename=image.filename) }}"
                    download="{{ image.original_filename }}">Скачать</a>
                <button class="fullscreen-button">Полноэкранный режим</button>
                <form action="{{ url_for('delete_image', image_id=image.id) }}" method="post">
                    <button type="submit">Удалить</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}