{% extends 'base.html' %}

{%block title %}𝒫𝒽𝑜𝓉𝑜𝒫𝒶𝒾𝓃𝓉𝑒𝓇 | Забыли пароль{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page.css')}}">
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}
{% block body %}
<!--форма регистрации-->
<div class="BODY_1"></div>
<div class="BODY_2"></div>
<section>
    <div class="form-box">
        <div class="form-value">
            <div class="page" id="reset_password_request">
                <div class="profile"><img src="{{ url_for('static', filename='img/profIcon.png')}}" width="300"></div>
                <form action="{{ url_for('reset_password_request') }}" method="post" id="reg">
                    {{ form.hidden_tag() }}
                    <h2>Восстановление аккаунта</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        {{ form.email() }}
                        <label for="email">E-mail:</label>
                    </div>
                        {% for error in form.email.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    <button type="submit" name="button">Запросить сброс пароля</button>
                    <div class="register">
                        <p>Вспомнили пароль?<a href="/logining"> Войти</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}