{% extends 'base.html' %}

{%block title %}𝒫𝒽𝑜𝓉𝑜𝒫𝒶𝒾𝓃𝓉𝑒𝓇 | Забыли пароль{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page.css')}}">
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}
{% block body %}
<!--форма регистрации-->
<div class="BODY_1"></div>
<div class="BODY_2"></div>
<section>
    <div class="form-box">
        <div class="form-value">
            <div class="page" id="reset_password">
                <div class="profile"><img src="{{ url_for('static', filename='img/profIcon.png')}}" width="300"></div>

                <form action="{{ url_for('reset_password', token=token) }}" method="post" id="reset">

                    <input type="hidden" name="token" value="{{ token }}">
                    {{ form.csrf_token }}
                    <h2>Восстановление аккаунта</h2>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        {{ form.password() }}
                        <label for="email">Новый пароль:</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        {{ form.repeat_password() }}
                        <label for="email">Повторите пароль:</label>
                    </div>
                    <button type="submit" name="button">Изменить пароль</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}